<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>myNote</title>
<link rel="stylesheet" href="/public/styles/notes.css" />
<link rel="shortcut icon" href="/public/imgs/4021693.png" type="image/*" />
