<header>
    <nav>
      <div>
        <div id="logo"><a href="/notes">MyNote</a></div>
      </div>
      <ul>
        <li><a href="/notes">all notes</a></li>
        <li><a href="/createnote">create note</a></li>
      </ul>
    </nav>
  </header>